<!--<div class="px-6 py-4">-->
<!--  <h1 class="text-2xl font-bold mb-4">Pokemon Catalogue</h1>-->
<!--  <div class="grid grid-cols-3 gap-4">-->
<!--    <div class="bg-white rounded-lg shadow-md">-->
<!--      <div class="p-4">-->
<!--        &lt;!&ndash;       <img [src]="pokemon.image" alt="Pokemon Image">&ndash;&gt;-->
<!--      </div>-->
<!--      <div>-->
<!--        <p>Pokemons details</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<app-pokemon-list-item
*ngFor="let pokemon of pokemons"
[pokemon]="pokemon"
></app-pokemon-list-item>

<!--<ul  class="px-6 py-4">-->
<!--  <li *ngFor="let pokemon of pokemons" class="grid grid-cols-3 gap-4 bg-white rounded-lg shadow-md">-->
<!--    <div class="grid bg-white rounded-lg shadow-md">-->
<!--      <span>{{pokemon.url}}</span>-->
<!--      <span>{{pokemon.name}}</span>-->
<!--    </div>-->
<!--    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg mt-4">Add to Collect-->
<!--    </button>-->
<!--    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg mt-4">Show more info-->
<!--    </button>-->
<!--  </li>-->
<!--</ul>-->


<!--<div class="pokemon-catalogue">-->
<!--  <h1>Pokémon Catalogue</h1>-->
<!--  <div class="pokemon-grid">-->
<!--    <div class="pokemon-cell" *ngFor="let pokemon of pokemonList">-->
<!--      <h2>{{pokemon.name}}</h2>-->
<!--      <img [src]="pokemon.imageUrl">-->
<!--      <button (click)="addToCollection(pokemon)">Collect</button>-->
<!--      <button (click)="showDetails(pokemon)">Show more info</button>-->
<!--      <div *ngIf="pokemon.showDetails">-->
<!--        &lt;!&ndash; Add details here &ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

