<div>
<!--  <div class="px-6 py-4 grid grid-cols-3 gap-4">-->
    <div>
    <div class="bg-white rounded-lg shadow-md justify-center text-center"
         *ngIf="pokemon !== undefined">
      <div class="bg-white rounded-lg shadow-md" >
        <div class="p-4 flex flex-col items-center" >
          <p class="text-center">{{pokemon.name}}</p>
          <img src="{{getPokemonImage()}}" alt="{{pokemon.name}}">

          {{test(pokemon.name)}}
          <ng-container *ngIf="inCollection === false">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg mt-4"
              (click)="addPokemonToCollection()">Add to Collection
            </button>
          </ng-container>
          <ng-container *ngIf="inCollection === true">
            <p class="bg-red-500 text-white font-bold py-2 px-4 rounded-lg mt-4">Already in Collection</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
