<main class="container mx-auto p-4">
  <app-profile-collection [collection]="collection"></app-profile-collection>
</main>

<!-- <div class="px-6 py-4">
  <h1 class="text-2xl font-bold mb-4">Arif's Collection</h1>
  <div class="grid grid-cols-3 gap-4">
    <div class="bg-white rounded-lg shadow-md">
      <div class="p-4">
        <p>Image</p>
        <h1 class="text-xl font-bold mt-2">Pokemon name</h1>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg mt-4">
          Remove from Collection
        </button>
      </div>
    </div>
  </div>
</div> -->


<!--<div class="px-6 py-4">-->
<!--  <h1 class="text-2xl font-bold mb-4">{{ trainerName }}'s Collection</h1>-->
<!--  <div class="grid grid-cols-3 gap-4">-->
<!--    <div class="bg-white rounded-lg shadow-md" *ngFor="let pokemon of trainerPokemons">-->
<!--      <div class="p-4">-->
<!--        <img [src]="pokemon.image" alt="Pokemon Image">-->
<!--        <h1 class="text-xl font-bold mt-2">{{ pokemon.name }}</h1>-->
<!--        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg mt-4" (click)="removePokemonFromCollection(pokemon)">-->
<!--          Remove from Collection-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="px-6 py-4">-->
<!--  <h1 class="text-2xl font-bold mb-4"> Arif's Pokemon Collection</h1>-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Image</th>-->
<!--      <th>Action</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--      <td>Pokemon name</td>-->
<!--      <td>Show image here</td>-->
<!--      <td>-->
<!--        <button class="bg-red-600 p-2 rounded">Remove</button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->


<!-- trainer.component.html -->

<!--<div class="trainer-page">-->
<!--  <h1>{{trainerName}}'s Pokémon Collection</h1>-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Image</th>-->
<!--      <th>Action</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let pokemon of pokemonCollection">-->
<!--      <td>{{pokemon.name}}</td>-->
<!--      <td><img [src]="pokemon.imageUrl"></td>-->
<!--      <td><button (click)="removePokemon(pokemon)">Remove</button></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->


<!-- landing.component.html -->

<!--<div class="landing-page">-->
<!--  <h1>Welcome to Pokémon Trainer!</h1>-->
<!--  <form (ngSubmit)="submitTrainerName()">-->
<!--    <label for="trainer-name">Trainer Name:</label>-->
<!--    <input type="text" id="trainer-name" [(ngModel)]="trainerName">-->
<!--    <button type="submit">Submit</button>-->
<!--  </form>-->
<!--</div>-->
