<div class="w-full h-screen flex items-center justify-center">
  <div class="bg-white p-6 rounded-lg shadow-md w-3/5">
    <h2 class="text-2xl font-medium mb-4">Welcome Trainer</h2>
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
      <fieldset class="mb-3">
        <label for="username" class="block text-gray-700">Trainer Name</label>
        <input type="text"
               ngModel
               #usernameInput="ngModel"
               name="username" id="username"
               class="border border-slate-300 p-2 rounded w-full"
               placeholder="Trainername"
               required
               minlength="3">
        <div *ngIf="usernameInput.invalid && usernameInput.touched" class="text-red-500 text-xs">
          Trainer name is required and must be at least 3 characters long.
        </div>
      </fieldset>
      <button type="submit" class="bg-amber-500 text-white p-2 rounded hover:bg-amber-700" [disabled]="usernameInput.invalid">Login</button>
    </form>
  </div>
</div>
