<div class="px-6 py-4">
  <h1 class="text-2xl font-bold mb-4">Pokemon Catalogue</h1>
  <div class="grid grid-cols-3 gap-4">
    <div class="bg-white rounded-lg shadow-md">
     <div class="p-4">
<!--       <img [src]="pokemon.image" alt="Pokemon Image">-->
       <p>Pokemon Image</p>
       <h1 class="text-xl font-bold mt-2">Pokemon name</h1>
       <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg mt-4">Add to Collect</button>
       <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg mt-4">Show more info</button>
     </div>
      <div>
        <p>Add details here!!</p>
      </div>
    </div>
  </div>
</div>












<!-- pokemon-catalogue.component.html -->

<!--<div class="pokemon-catalogue">-->
<!--  <h1>Pokémon Catalogue</h1>-->
<!--  <div class="pokemon-grid">-->
<!--    <div class="pokemon-cell" *ngFor="let pokemon of pokemonList">-->
<!--      <h2>{{pokemon.name}}</h2>-->
<!--      <img [src]="pokemon.imageUrl">-->
<!--      <button (click)="addToCollection(pokemon)">Collect</button>-->
<!--      <button (click)="showDetails(pokemon)">Show more info</button>-->
<!--      <div *ngIf="pokemon.showDetails">-->
<!--        &lt;!&ndash; Add details here &ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
