<div class="px-6 py-4">
    <h1 class="text-2xl font-bold mb-4">Arif's Collection</h1>
    <div class="grid grid-cols-3 gap-4" *ngFor="let pokemon of collection">
      <div class="bg-white rounded-lg shadow-md">
        <div class="p-4">
            <img src="{{getPokemonImage(pokemon.url)}}" alt="{{ pokemon.name }}">
          <h1 class="text-xl font-bold mt-2">{{ pokemon.name }}</h1>
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg mt-4">
            Remove from Collection
          </button>
        </div>
      </div>
    </div>
  </div>